<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="cmpC9C397182586288E806A70D28F13FA95" Guid="{1ACFB42F-7538-493B-BF19-09250F3C0373}">
                <File Id="filAA57C051B29772B7DB605F6D81311E75" KeyPath="yes" Source="$(var.BasePath)\ColouredSugar.exe" />
            </Component>
            <Component Id="cmpA5C9C802E51D6CB59B7849D4E898D0B7" Guid="{A804B5BC-BF9E-4895-8A18-4C6522D689D6}">
                <File Id="fil151513D4D96A2C2A1DB2305FD31138BF" KeyPath="yes" Source="$(var.BasePath)\ColouredSugar.exe.config" />
            </Component>
            <Component Id="cmp22A1F16316F6078B3897925D00111D5B" Guid="{84DACB43-7D0F-48C0-B79C-80ED6357BC51}">
                <File Id="filA86F403C4A4AF0F2555304A529093984" KeyPath="yes" Source="$(var.BasePath)\ColouredSugar.pdb" />
            </Component>
            <Component Id="cmpB3ABA06062313CD012B0F8B0E2A4E62A" Guid="{AD7E32C5-4AA2-4917-93CA-B386F7116C73}">
                <File Id="filDFF5564D82354A195BC0250D08E8FF09" KeyPath="yes" Source="$(var.BasePath)\config.json" />
            </Component>
            <Component Id="cmpF2517DE62B0669313E4084F23E26926D" Guid="{CAB8092C-E8CB-4DEB-8942-B919DC5D884B}">
                <File Id="fil9BC0D8406A417408AB4FA154FB80ABB9" KeyPath="yes" Source="$(var.BasePath)\COPYING" />
            </Component>
            <Component Id="cmp4DBA92D440457ACC43D33A359B988451" Guid="{1AC88CB0-FD41-4B04-A3A2-C4E07E90ED45}">
                <File Id="filA992A1B3AEFF0B6F58B842648D590935" KeyPath="yes" Source="$(var.BasePath)\FSharp.Core.dll" />
            </Component>
            <Component Id="cmp77E66606433C86FCA22BEE6988343016" Guid="{87B0833C-1386-46D7-8859-F613DD6AA0BE}">
                <File Id="fil2DDD945F8F4DBED78207727943784748" KeyPath="yes" Source="$(var.BasePath)\FSharp.Data.dll" />
            </Component>
            <Component Id="cmp22398BFFF684D79513A368943A26C348" Guid="{60C6937C-657A-4194-8EBE-FEBE291AD9AB}">
                <File Id="fil7C4FFCF4C5A0A97C593D16585BB442AE" KeyPath="yes" Source="$(var.BasePath)\FSharp.Data.pdb" />
            </Component>
            <Component Id="cmpE998DDB7BF0C45E6BD4881AD3809B18B" Guid="{7B4B9588-9CE5-4220-BA86-5FB285C84178}">
                <File Id="fil38E14B0E5B668999853C6A223E361554" KeyPath="yes" Source="$(var.BasePath)\FSharp.Data.xml" />
            </Component>
            <Component Id="cmpBE9DF01A66595E282E73857268A99F34" Guid="{BA657957-3C7B-4859-813D-E747AB7B96F5}">
                <File Id="fil45521DE5F184A1F1579B4035389ABBE3" KeyPath="yes" Source="$(var.BasePath)\NAudio.dll" />
            </Component>
            <Component Id="cmpF8161E0352F86042AC2C87BFB76B5F43" Guid="{5CB74509-4070-47BE-B191-3FC3E9D71B5B}">
                <File Id="filC1A5159A441F9E54AC01A2C6A2C63F0A" KeyPath="yes" Source="$(var.BasePath)\NAudio.xml" />
            </Component>
            <Component Id="cmpBD25D744A6048756C4C4F61B3741AC7B" Guid="{2BC68141-A34B-44DC-8655-2CB672F16DF3}">
                <File Id="filBA6B67C2DF2CF4F7E4B1F8EE22262B50" KeyPath="yes" Source="$(var.BasePath)\OpenTK.dll" />
            </Component>
            <Component Id="cmpD262BC669D42D87E6A3D275EA8AB073B" Guid="{77AAAF7B-3E4E-4327-8147-32BBE092FBDC}">
                <File Id="filCB8D4E16216E576930D51B8C18C46C66" KeyPath="yes" Source="$(var.BasePath)\OpenTK.pdb" />
            </Component>
            <Component Id="cmp27F419C7E978420ED91A1B0BE00739FB" Guid="{028D47B9-3229-4DA1-BA17-76342C56C742}">
                <File Id="fil5B0A216E7C309E68E921E372E88D5960" KeyPath="yes" Source="$(var.BasePath)\OpenTK.xml" />
            </Component>
            <Component Id="cmp7DEDB995B800E4E35F6BFFA1A0E4C82A" Guid="{11BF02EF-46D5-4D3D-B4D4-9CC9F0F69417}">
                <File Id="filF74423FFF2A401DC373DF5DA93EF1661" KeyPath="yes" Source="$(var.BasePath)\README.md" />
            </Component>
            <Component Id="cmp9669060B6F6F3BAD650D65E68A5574A1" Guid="{19765234-0002-43C4-BAC5-6DD3C11BB023}">
                <File Id="fil5BD40408AB304BF3B1979AAAB39CDFB6" KeyPath="yes" Source="$(var.BasePath)\SixLabors.ImageSharp.dll" />
            </Component>
            <Component Id="cmp8764FAC5685DA1DE9914CD6AB73B0514" Guid="{134B4ECA-C4F7-49A0-B69D-0EE94B472292}">
                <File Id="filC2D06A2A668BD5EA2A8BC6254439A8D9" KeyPath="yes" Source="$(var.BasePath)\SixLabors.ImageSharp.xml" />
            </Component>
            <Component Id="cmpD43AA934B3FEB1538360E32A4AEE9191" Guid="{461B765D-140C-436E-8D57-9632189B6CD3}">
                <File Id="fil0E780362DC499D3845ABBA7F1FCF3B9F" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp8FC80FDCA77A84F61E647632F17359BB" Guid="{7FB4DB60-7E17-466E-ACC8-E279862F303C}">
                <File Id="fil17DA37061E050F143CB92635F058D9D2" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.xml" />
            </Component>
            <Component Id="cmp69CAABFAF7C6AE600120757C8CF9EF7A" Guid="{ABC63B07-FA9F-4651-8B18-FDC8D1DC653B}">
                <File Id="fil307AF88EDBA388913037187A473A7D20" KeyPath="yes" Source="$(var.BasePath)\System.Memory.dll" />
            </Component>
            <Component Id="cmp69A2F859255511A36D44D61D4282ED89" Guid="{DB4984EF-DB4E-48B9-853E-87246F2C9A7F}">
                <File Id="fil9361E0AC1FD46BBD2970A8388184F98B" KeyPath="yes" Source="$(var.BasePath)\System.Memory.xml" />
            </Component>
            <Component Id="cmpBCE34B243036D51A7CC991CF0729850C" Guid="{548C765A-783C-4C30-AA09-113CA529A85E}">
                <File Id="fil5ABB1012B1783287932E4D15ABD1D6C5" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp912377D63F31132C3E0D99C97E2048FE" Guid="{8101C4C0-7C0B-40FD-9C69-1507C85FA010}">
                <File Id="fil59B960524F880049E4889A0CE6B31FD5" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.xml" />
            </Component>
            <Component Id="cmpD4D4FCD7490A4C337BEFC00B19CACE58" Guid="{8D8FB855-B1C2-4DD9-BF9D-74100D7CC675}">
                <File Id="filEA038FDC2C17A48B5AEC09DCE69CB4A7" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp4DC1493C3875F8183E4F0237366086BF" Guid="{34932063-28AB-4334-8915-BFAAEBE856F8}">
                <File Id="filCCD5CC6D5CC3FCD2D0E91AEDFFA2651A" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>
            <Component Id="cmpA4408EF7FC87F4DE11618E731A350103" Guid="{685EA5D2-1D4C-4DC3-9436-65A208F8975F}">
                <File Id="fil9183C2CE105514510EB74B59D81AF551" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Directory Id="dir969A4EFBB019470CBD8A1C0D51209ED5" Name="cs">
                <Component Id="cmp1D614362E4FC45D1F34B95164E1B2B16" Guid="{E85F9592-47B3-4C2C-B2BD-2C2BE034038D}">
                    <File Id="fil2C9DA37DA911A2D1DCA83CE58541A1E1" KeyPath="yes" Source="$(var.BasePath)\cs\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Name="de">
                <Component Id="cmp2349F5837679A48098E983CCBAAAEA26" Guid="{ED63CB5C-D3B5-462C-A1EA-E66F72E07DB2}">
                    <File Id="fil4DD5A78D7D26C4BF83230D1175969562" KeyPath="yes" Source="$(var.BasePath)\de\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir64D71989966D3C995252DD5EAD72204A" Name="es">
                <Component Id="cmp53E60627AD61F310DDB3F6045A877DD6" Guid="{1B0ECC36-C3BD-455C-A6B1-FFA9D3123276}">
                    <File Id="fil59993D33A5BC7E0B4E14D12761BC48F1" KeyPath="yes" Source="$(var.BasePath)\es\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Name="fr">
                <Component Id="cmpAFC1C8A6CCB88F07DE029A281B7041E2" Guid="{A0EFEC9A-3015-4F9A-9911-8FFD6241B060}">
                    <File Id="filB8D493870E0E78ED90D6000A185ABD65" KeyPath="yes" Source="$(var.BasePath)\fr\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Name="it">
                <Component Id="cmp4816A92E85195C7D52738F9506F60474" Guid="{5CBD1B34-A40C-41CE-9E98-BD23D371DB3E}">
                    <File Id="filCEAC9C60E483AC6949FA4FD3EFA3C9AE" KeyPath="yes" Source="$(var.BasePath)\it\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir250D607B4E859FD3B153389E856E9245" Name="ja">
                <Component Id="cmp57F084557FACFB11466389CD2FDFE8B0" Guid="{2C847E1E-2B6C-4BD1-B8A4-D356BF44C4BD}">
                    <File Id="filE4245B790D2C1EE89F9F40C858CCE767" KeyPath="yes" Source="$(var.BasePath)\ja\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir68BD67567308D790DAE3C9405A87DE04" Name="ko">
                <Component Id="cmp2D1E6FDAD8A28BF9105BA9283559275B" Guid="{63D83AE3-7A30-40A0-87CF-E1DBDA4E3006}">
                    <File Id="filB0FA2ED4FBD9C78C7454AB3243070FCF" KeyPath="yes" Source="$(var.BasePath)\ko\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA41A1CCCC1C8ED86112C15B4710A9CAD" Name="pl">
                <Component Id="cmp5439E1A916A4F070FFF422474DB54B5A" Guid="{8B3FEF08-6C79-4204-94C0-E2E698CA74E1}">
                    <File Id="fil5EC3F3F3FC125B6038857859C41CE458" KeyPath="yes" Source="$(var.BasePath)\pl\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA43D9BF55E6375A261066CE5487B2FD5" Name="pt-BR">
                <Component Id="cmpC7F9203A1D708F5087E91C20A26715C3" Guid="{2D262772-0429-4BE5-9558-ACF19C5829EE}">
                    <File Id="fil4FA1A679B17CA2F890CEFC8A693354AA" KeyPath="yes" Source="$(var.BasePath)\pt-BR\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB24AE6E83E29BFC7953B6EF418A59C1D" Name="res">
                <Component Id="cmpC8864563EFFEA6340ED9997771B6905C" Guid="{9754F2EF-0D8D-48DD-9B83-1BF59A65DA3C}">
                    <File Id="filF1FC4E896056E11AF25135BF1B669FEF" KeyPath="yes" Source="$(var.BasePath)\res\ColouredSugar.ico" />
                </Component>
                <Component Id="cmp9FCFFE34D73F87C1B06D5D7D28D517C3" Guid="{2A9F62DF-170D-40C0-8190-36DED707826D}">
                    <File Id="filF77556035414CC03B3DE519E5B3AA0BF" KeyPath="yes" Source="$(var.BasePath)\res\HelpMenu.png" />
                </Component>
            </Directory>
            <Directory Id="dir113445E6F89EECCCAD68A52BB70F8EF9" Name="ru">
                <Component Id="cmpD4D89EAB4C68D6E3C8B9ED823863DCD4" Guid="{8EC24B55-2C7F-404C-A634-43208267CDFF}">
                    <File Id="fil8897946491CB29718DDCA3CD5568BFFD" KeyPath="yes" Source="$(var.BasePath)\ru\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir37338F82609F0FCFD47BA48AEA8652C6" Name="shaders">
                <Component Id="cmp239328308EBCA9C80027F41EE9EBDA46" Guid="{A23FE47D-85C3-453C-B319-23A2D0CD4F44}">
                    <File Id="fil9EDF6E27FEF101FA93B810E0AAC6B375" KeyPath="yes" Source="$(var.BasePath)\shaders\particle_comp.glsl" />
                </Component>
                <Component Id="cmp7E1EF4C09A48044D003EB3C599D5A8FF" Guid="{4E4E8810-83A4-4A08-A290-DAD4C83A0A9E}">
                    <File Id="fil63E0BBAE141209E20CB1523CC6B23457" KeyPath="yes" Source="$(var.BasePath)\shaders\particle_frag.glsl" />
                </Component>
                <Component Id="cmpD8F51AC30518614EE052CF56748044A4" Guid="{D1F1DEDB-9B7F-46BB-B5D5-8052F61EC433}">
                    <File Id="fil126AAD74CCAE28495E4B5FBD9236FD4B" KeyPath="yes" Source="$(var.BasePath)\shaders\particle_vert.glsl" />
                </Component>
                <Component Id="cmp7544009E0027FE268B5751762D07CF61" Guid="{1B13C38C-FC42-4FA9-AE19-E5D5FAC8F44B}">
                    <File Id="fil558EB68BD5CEFAD4DE01178B135F64C6" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_billboard_frag.glsl" />
                </Component>
                <Component Id="cmpF4012BC6153C4EDADE3969137F88C1B3" Guid="{473C1EE0-00C8-4058-8C92-E5C2E9E2289F}">
                    <File Id="fil38CEB0E0598B74CF7E2E85C8FC0DAB17" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_billboard_vert.glsl" />
                </Component>
                <Component Id="cmp978DD2E349C4E5F2A24029A11D869B00" Guid="{8C63B1F0-6A40-4191-9F0E-C71098190729}">
                    <File Id="filA6BFC737DED8A6542E11F2706305E50F" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_sphere_frag.glsl" />
                </Component>
                <Component Id="cmpC0CF2FC9F65A32FE3F5DEA64C153023A" Guid="{9658F98D-8E4F-4826-9714-98E2A5A75D0E}">
                    <File Id="fil12F1B754EB8DE9BA77B407D0A131125D" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_sphere_vert.glsl" />
                </Component>
                <Component Id="cmp10AE1F5C83DB26971EDF23E422E1C72C" Guid="{5DB0135B-5782-4102-B335-8E6DB9778D0C}">
                    <File Id="filC7027AEE0D4EDA0361783BA3B662C554" KeyPath="yes" Source="$(var.BasePath)\shaders\textured_billboard_frag.glsl" />
                </Component>
                <Component Id="cmpAB5F7F9B0A60812C3480C26B0236F18A" Guid="{A8A5BBD0-FA94-47C7-9C7F-69F15175FFDE}">
                    <File Id="fil67EC928520B4B0284BA6C528326B9473" KeyPath="yes" Source="$(var.BasePath)\shaders\textured_billboard_vert.glsl" />
                </Component>
            </Directory>
            <Directory Id="dir3967E0CDC830ED12EE5AEDEF49E48286" Name="tr">
                <Component Id="cmpF1E68EC1D275AEB990A117EDBDF98025" Guid="{39EA570C-A7F2-4699-93FB-1CC661247BCF}">
                    <File Id="filF540E8F558E96731A4BD5A6784FCC4B0" KeyPath="yes" Source="$(var.BasePath)\tr\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD8D18BE0CBE3A171A18753A5B5985BB4" Name="zh-Hans">
                <Component Id="cmp95DFA73A42308883D7C58ED75C56B90E" Guid="{92143AB1-E257-46E3-8341-E115C6CA49F5}">
                    <File Id="fil4599C9F0A37CA5818734A103AA6255D7" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir0A56E1DCE96682D4EA5091E415D1089C" Name="zh-Hant">
                <Component Id="cmpFE37423A660289B575510A2221CEA0CD" Guid="{CBA70E61-A4F2-44E0-AC80-2723FB505D19}">
                    <File Id="fil6B528AFACEEDA2A4F354AF5D3467968E" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GeneratedComponents">
            <ComponentRef Id="cmpC9C397182586288E806A70D28F13FA95" />
            <ComponentRef Id="cmpA5C9C802E51D6CB59B7849D4E898D0B7" />
            <ComponentRef Id="cmp22A1F16316F6078B3897925D00111D5B" />
            <ComponentRef Id="cmpB3ABA06062313CD012B0F8B0E2A4E62A" />
            <ComponentRef Id="cmpF2517DE62B0669313E4084F23E26926D" />
            <ComponentRef Id="cmp4DBA92D440457ACC43D33A359B988451" />
            <ComponentRef Id="cmp77E66606433C86FCA22BEE6988343016" />
            <ComponentRef Id="cmp22398BFFF684D79513A368943A26C348" />
            <ComponentRef Id="cmpE998DDB7BF0C45E6BD4881AD3809B18B" />
            <ComponentRef Id="cmpBE9DF01A66595E282E73857268A99F34" />
            <ComponentRef Id="cmpF8161E0352F86042AC2C87BFB76B5F43" />
            <ComponentRef Id="cmpBD25D744A6048756C4C4F61B3741AC7B" />
            <ComponentRef Id="cmpD262BC669D42D87E6A3D275EA8AB073B" />
            <ComponentRef Id="cmp27F419C7E978420ED91A1B0BE00739FB" />
            <ComponentRef Id="cmp7DEDB995B800E4E35F6BFFA1A0E4C82A" />
            <ComponentRef Id="cmp9669060B6F6F3BAD650D65E68A5574A1" />
            <ComponentRef Id="cmp8764FAC5685DA1DE9914CD6AB73B0514" />
            <ComponentRef Id="cmpD43AA934B3FEB1538360E32A4AEE9191" />
            <ComponentRef Id="cmp8FC80FDCA77A84F61E647632F17359BB" />
            <ComponentRef Id="cmp69CAABFAF7C6AE600120757C8CF9EF7A" />
            <ComponentRef Id="cmp69A2F859255511A36D44D61D4282ED89" />
            <ComponentRef Id="cmpBCE34B243036D51A7CC991CF0729850C" />
            <ComponentRef Id="cmp912377D63F31132C3E0D99C97E2048FE" />
            <ComponentRef Id="cmpD4D4FCD7490A4C337BEFC00B19CACE58" />
            <ComponentRef Id="cmp4DC1493C3875F8183E4F0237366086BF" />
            <ComponentRef Id="cmpA4408EF7FC87F4DE11618E731A350103" />
            <ComponentRef Id="cmp1D614362E4FC45D1F34B95164E1B2B16" />
            <ComponentRef Id="cmp2349F5837679A48098E983CCBAAAEA26" />
            <ComponentRef Id="cmp53E60627AD61F310DDB3F6045A877DD6" />
            <ComponentRef Id="cmpAFC1C8A6CCB88F07DE029A281B7041E2" />
            <ComponentRef Id="cmp4816A92E85195C7D52738F9506F60474" />
            <ComponentRef Id="cmp57F084557FACFB11466389CD2FDFE8B0" />
            <ComponentRef Id="cmp2D1E6FDAD8A28BF9105BA9283559275B" />
            <ComponentRef Id="cmp5439E1A916A4F070FFF422474DB54B5A" />
            <ComponentRef Id="cmpC7F9203A1D708F5087E91C20A26715C3" />
            <ComponentRef Id="cmpC8864563EFFEA6340ED9997771B6905C" />
            <ComponentRef Id="cmp9FCFFE34D73F87C1B06D5D7D28D517C3" />
            <ComponentRef Id="cmpD4D89EAB4C68D6E3C8B9ED823863DCD4" />
            <ComponentRef Id="cmp239328308EBCA9C80027F41EE9EBDA46" />
            <ComponentRef Id="cmp7E1EF4C09A48044D003EB3C599D5A8FF" />
            <ComponentRef Id="cmpD8F51AC30518614EE052CF56748044A4" />
            <ComponentRef Id="cmp7544009E0027FE268B5751762D07CF61" />
            <ComponentRef Id="cmpF4012BC6153C4EDADE3969137F88C1B3" />
            <ComponentRef Id="cmp978DD2E349C4E5F2A24029A11D869B00" />
            <ComponentRef Id="cmpC0CF2FC9F65A32FE3F5DEA64C153023A" />
            <ComponentRef Id="cmp10AE1F5C83DB26971EDF23E422E1C72C" />
            <ComponentRef Id="cmpAB5F7F9B0A60812C3480C26B0236F18A" />
            <ComponentRef Id="cmpF1E68EC1D275AEB990A117EDBDF98025" />
            <ComponentRef Id="cmp95DFA73A42308883D7C58ED75C56B90E" />
            <ComponentRef Id="cmpFE37423A660289B575510A2221CEA0CD" />
        </ComponentGroup>
    </Fragment>
</Wix>