<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="cmpC9C397182586288E806A70D28F13FA95" Guid="{9CE84EEF-DF55-45BF-8970-89752ADC3209}">
                <File Id="filAA57C051B29772B7DB605F6D81311E75" KeyPath="yes" Source="$(var.BasePath)\ColouredSugar.exe" />
            </Component>
            <Component Id="cmpA5C9C802E51D6CB59B7849D4E898D0B7" Guid="{00100455-81B2-4B81-9672-3FDA2596FFBE}">
                <File Id="fil151513D4D96A2C2A1DB2305FD31138BF" KeyPath="yes" Source="$(var.BasePath)\ColouredSugar.exe.config" />
            </Component>
            <Component Id="cmp22A1F16316F6078B3897925D00111D5B" Guid="{5435D9DF-44A4-4C4D-9D40-E2BFC28FEFDA}">
                <File Id="filA86F403C4A4AF0F2555304A529093984" KeyPath="yes" Source="$(var.BasePath)\ColouredSugar.pdb" />
            </Component>
            <Component Id="cmpB3ABA06062313CD012B0F8B0E2A4E62A" Guid="{DCDAF2A3-981A-4419-8331-DA041884DE06}">
                <File Id="filDFF5564D82354A195BC0250D08E8FF09" KeyPath="yes" Source="$(var.BasePath)\config.json" />
            </Component>
            <Component Id="cmp4DBA92D440457ACC43D33A359B988451" Guid="{EC6EA8BB-5801-48A2-B45E-430BC0A046B2}">
                <File Id="filA992A1B3AEFF0B6F58B842648D590935" KeyPath="yes" Source="$(var.BasePath)\FSharp.Core.dll" />
            </Component>
            <Component Id="cmp84D88DBC0828D9FD1FD98334B8BD189B" Guid="{AC6A7510-EA7F-4C1C-BFC9-D0719CF141A9}">
                <File Id="fil881FFEA04F1EC3FF9FDFA93F3BE64EEC" KeyPath="yes" Source="$(var.BasePath)\FSharp.Core.xml" />
            </Component>
            <Component Id="cmp77E66606433C86FCA22BEE6988343016" Guid="{98CFE424-B177-41B3-B624-AFCE6ACBBB2F}">
                <File Id="fil2DDD945F8F4DBED78207727943784748" KeyPath="yes" Source="$(var.BasePath)\FSharp.Data.dll" />
            </Component>
            <Component Id="cmp22398BFFF684D79513A368943A26C348" Guid="{E3CE7441-AB1B-42DB-BF7A-B82B0248A69D}">
                <File Id="fil7C4FFCF4C5A0A97C593D16585BB442AE" KeyPath="yes" Source="$(var.BasePath)\FSharp.Data.pdb" />
            </Component>
            <Component Id="cmpE998DDB7BF0C45E6BD4881AD3809B18B" Guid="{4D26729C-4457-4427-BB64-101ABCDF0A6D}">
                <File Id="fil38E14B0E5B668999853C6A223E361554" KeyPath="yes" Source="$(var.BasePath)\FSharp.Data.xml" />
            </Component>
            <Component Id="cmpBE9DF01A66595E282E73857268A99F34" Guid="{235FE9ED-B366-4D80-855B-4E1395A667E9}">
                <File Id="fil45521DE5F184A1F1579B4035389ABBE3" KeyPath="yes" Source="$(var.BasePath)\NAudio.dll" />
            </Component>
            <Component Id="cmpF8161E0352F86042AC2C87BFB76B5F43" Guid="{7938982A-1EC9-4EBA-9285-BF6EC8BA16C7}">
                <File Id="filC1A5159A441F9E54AC01A2C6A2C63F0A" KeyPath="yes" Source="$(var.BasePath)\NAudio.xml" />
            </Component>
            <Component Id="cmpBD25D744A6048756C4C4F61B3741AC7B" Guid="{F960EA28-6D27-4CF0-95CB-CD7E952F50CE}">
                <File Id="filBA6B67C2DF2CF4F7E4B1F8EE22262B50" KeyPath="yes" Source="$(var.BasePath)\OpenTK.dll" />
            </Component>
            <Component Id="cmpD262BC669D42D87E6A3D275EA8AB073B" Guid="{3D1A36AC-D36E-4259-9184-81F320A1C70E}">
                <File Id="filCB8D4E16216E576930D51B8C18C46C66" KeyPath="yes" Source="$(var.BasePath)\OpenTK.pdb" />
            </Component>
            <Component Id="cmp27F419C7E978420ED91A1B0BE00739FB" Guid="{AD268776-5E85-447F-810E-E446E20BC023}">
                <File Id="fil5B0A216E7C309E68E921E372E88D5960" KeyPath="yes" Source="$(var.BasePath)\OpenTK.xml" />
            </Component>
            <Component Id="cmp7DEDB995B800E4E35F6BFFA1A0E4C82A" Guid="{A40F60D0-B65D-479B-82FD-985ED55BB01D}">
                <File Id="filF74423FFF2A401DC373DF5DA93EF1661" KeyPath="yes" Source="$(var.BasePath)\README.md" />
            </Component>
            <Component Id="cmp9669060B6F6F3BAD650D65E68A5574A1" Guid="{7B78A08A-6F30-4826-B364-05FE6DB1657F}">
                <File Id="fil5BD40408AB304BF3B1979AAAB39CDFB6" KeyPath="yes" Source="$(var.BasePath)\SixLabors.ImageSharp.dll" />
            </Component>
            <Component Id="cmp8764FAC5685DA1DE9914CD6AB73B0514" Guid="{19554E2A-2B60-4CA0-AB7B-D6DA9FAA6E13}">
                <File Id="filC2D06A2A668BD5EA2A8BC6254439A8D9" KeyPath="yes" Source="$(var.BasePath)\SixLabors.ImageSharp.xml" />
            </Component>
            <Component Id="cmpD43AA934B3FEB1538360E32A4AEE9191" Guid="{571EA4E5-E402-4918-A4C8-7CCCB76727FA}">
                <File Id="fil0E780362DC499D3845ABBA7F1FCF3B9F" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp8FC80FDCA77A84F61E647632F17359BB" Guid="{075B54CE-E462-45D1-A973-BD2699B77CA5}">
                <File Id="fil17DA37061E050F143CB92635F058D9D2" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.xml" />
            </Component>
            <Component Id="cmp69CAABFAF7C6AE600120757C8CF9EF7A" Guid="{B1BC39AD-8B7D-42A7-AF93-984D9E0A7A23}">
                <File Id="fil307AF88EDBA388913037187A473A7D20" KeyPath="yes" Source="$(var.BasePath)\System.Memory.dll" />
            </Component>
            <Component Id="cmp69A2F859255511A36D44D61D4282ED89" Guid="{1DE39C01-BE56-4AE4-9163-77EE3270ACB4}">
                <File Id="fil9361E0AC1FD46BBD2970A8388184F98B" KeyPath="yes" Source="$(var.BasePath)\System.Memory.xml" />
            </Component>
            <Component Id="cmpBCE34B243036D51A7CC991CF0729850C" Guid="{B9344FB1-19AA-410E-A9E8-859DE5D7F7EA}">
                <File Id="fil5ABB1012B1783287932E4D15ABD1D6C5" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp912377D63F31132C3E0D99C97E2048FE" Guid="{F06BE484-0D08-4238-A113-BBE579F13480}">
                <File Id="fil59B960524F880049E4889A0CE6B31FD5" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.xml" />
            </Component>
            <Component Id="cmpD4D4FCD7490A4C337BEFC00B19CACE58" Guid="{61EA6759-2367-4300-811F-2803F3B40197}">
                <File Id="filEA038FDC2C17A48B5AEC09DCE69CB4A7" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp4DC1493C3875F8183E4F0237366086BF" Guid="{FB4591A5-067F-4D7F-847A-DA383494615C}">
                <File Id="filCCD5CC6D5CC3FCD2D0E91AEDFFA2651A" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>
            <Component Id="cmpA4408EF7FC87F4DE11618E731A350103" Guid="{9FB92811-069B-4548-A684-C382E7A718DC}">
                <File Id="fil9183C2CE105514510EB74B59D81AF551" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Directory Id="dir969A4EFBB019470CBD8A1C0D51209ED5" Name="cs">
                <Component Id="cmp1D614362E4FC45D1F34B95164E1B2B16" Guid="{CE023A00-9FE1-48D5-98B1-628D35A34CBE}">
                    <File Id="fil2C9DA37DA911A2D1DCA83CE58541A1E1" KeyPath="yes" Source="$(var.BasePath)\cs\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Name="de">
                <Component Id="cmp2349F5837679A48098E983CCBAAAEA26" Guid="{77CA87E2-9F98-438B-89E0-B545B5978D53}">
                    <File Id="fil4DD5A78D7D26C4BF83230D1175969562" KeyPath="yes" Source="$(var.BasePath)\de\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir64D71989966D3C995252DD5EAD72204A" Name="es">
                <Component Id="cmp53E60627AD61F310DDB3F6045A877DD6" Guid="{307DA12B-7648-4E82-83B3-2534D5EC30A2}">
                    <File Id="fil59993D33A5BC7E0B4E14D12761BC48F1" KeyPath="yes" Source="$(var.BasePath)\es\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Name="fr">
                <Component Id="cmpAFC1C8A6CCB88F07DE029A281B7041E2" Guid="{FAAFA54E-3BEA-49D7-9D31-2953EFFD4D0D}">
                    <File Id="filB8D493870E0E78ED90D6000A185ABD65" KeyPath="yes" Source="$(var.BasePath)\fr\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Name="it">
                <Component Id="cmp4816A92E85195C7D52738F9506F60474" Guid="{45D516A3-142F-4B91-8C9F-42C94E933721}">
                    <File Id="filCEAC9C60E483AC6949FA4FD3EFA3C9AE" KeyPath="yes" Source="$(var.BasePath)\it\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir250D607B4E859FD3B153389E856E9245" Name="ja">
                <Component Id="cmp57F084557FACFB11466389CD2FDFE8B0" Guid="{B452CC7C-9DDD-44FB-9A44-9F573D55FFB3}">
                    <File Id="filE4245B790D2C1EE89F9F40C858CCE767" KeyPath="yes" Source="$(var.BasePath)\ja\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir68BD67567308D790DAE3C9405A87DE04" Name="ko">
                <Component Id="cmp2D1E6FDAD8A28BF9105BA9283559275B" Guid="{4D013ED8-AC82-4E23-B24A-E94603E5B107}">
                    <File Id="filB0FA2ED4FBD9C78C7454AB3243070FCF" KeyPath="yes" Source="$(var.BasePath)\ko\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA41A1CCCC1C8ED86112C15B4710A9CAD" Name="pl">
                <Component Id="cmp5439E1A916A4F070FFF422474DB54B5A" Guid="{A7B7DA4F-AABC-452F-BC68-7888F2C8E690}">
                    <File Id="fil5EC3F3F3FC125B6038857859C41CE458" KeyPath="yes" Source="$(var.BasePath)\pl\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA43D9BF55E6375A261066CE5487B2FD5" Name="pt-BR">
                <Component Id="cmpC7F9203A1D708F5087E91C20A26715C3" Guid="{200FFBB9-DDD2-417D-A108-936D2A89A540}">
                    <File Id="fil4FA1A679B17CA2F890CEFC8A693354AA" KeyPath="yes" Source="$(var.BasePath)\pt-BR\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB24AE6E83E29BFC7953B6EF418A59C1D" Name="res">
                <Component Id="cmpC8864563EFFEA6340ED9997771B6905C" Guid="{2415FBF8-1AA7-461C-A38B-8C17C286D434}">
                    <File Id="filF1FC4E896056E11AF25135BF1B669FEF" KeyPath="yes" Source="$(var.BasePath)\res\ColouredSugar.ico" />
                </Component>
                <Component Id="cmp9FCFFE34D73F87C1B06D5D7D28D517C3" Guid="{34278C08-D6D4-4594-9298-6D7DB507345B}">
                    <File Id="filF77556035414CC03B3DE519E5B3AA0BF" KeyPath="yes" Source="$(var.BasePath)\res\HelpMenu.png" />
                </Component>
            </Directory>
            <Directory Id="dir113445E6F89EECCCAD68A52BB70F8EF9" Name="ru">
                <Component Id="cmpD4D89EAB4C68D6E3C8B9ED823863DCD4" Guid="{C9EEBFA1-42C2-445A-BC33-FC1E9DCBFF6F}">
                    <File Id="fil8897946491CB29718DDCA3CD5568BFFD" KeyPath="yes" Source="$(var.BasePath)\ru\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir37338F82609F0FCFD47BA48AEA8652C6" Name="shaders">
                <Component Id="cmp239328308EBCA9C80027F41EE9EBDA46" Guid="{097D3371-3538-42C5-992D-E86E7835CD4C}">
                    <File Id="fil9EDF6E27FEF101FA93B810E0AAC6B375" KeyPath="yes" Source="$(var.BasePath)\shaders\particle_comp.glsl" />
                </Component>
                <Component Id="cmp7E1EF4C09A48044D003EB3C599D5A8FF" Guid="{0A598870-A875-422F-AB1E-330A64875C44}">
                    <File Id="fil63E0BBAE141209E20CB1523CC6B23457" KeyPath="yes" Source="$(var.BasePath)\shaders\particle_frag.glsl" />
                </Component>
                <Component Id="cmpD8F51AC30518614EE052CF56748044A4" Guid="{51C889BB-F01E-4DA9-BFEA-F04FE86BCB49}">
                    <File Id="fil126AAD74CCAE28495E4B5FBD9236FD4B" KeyPath="yes" Source="$(var.BasePath)\shaders\particle_vert.glsl" />
                </Component>
                <Component Id="cmp7544009E0027FE268B5751762D07CF61" Guid="{1325FE0B-7E4C-4629-8AC1-263F5B07EC20}">
                    <File Id="fil558EB68BD5CEFAD4DE01178B135F64C6" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_billboard_frag.glsl" />
                </Component>
                <Component Id="cmpF4012BC6153C4EDADE3969137F88C1B3" Guid="{C232E234-02A3-4E6B-8418-E648044824AB}">
                    <File Id="fil38CEB0E0598B74CF7E2E85C8FC0DAB17" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_billboard_vert.glsl" />
                </Component>
                <Component Id="cmp978DD2E349C4E5F2A24029A11D869B00" Guid="{B1E19555-B375-479C-A029-4EBB4B409503}">
                    <File Id="filA6BFC737DED8A6542E11F2706305E50F" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_sphere_frag.glsl" />
                </Component>
                <Component Id="cmpC0CF2FC9F65A32FE3F5DEA64C153023A" Guid="{CF975EE7-A98D-400E-96C2-02EF80214086}">
                    <File Id="fil12F1B754EB8DE9BA77B407D0A131125D" KeyPath="yes" Source="$(var.BasePath)\shaders\solid_colour_sphere_vert.glsl" />
                </Component>
                <Component Id="cmp10AE1F5C83DB26971EDF23E422E1C72C" Guid="{DF2543A8-275A-4EC3-BE5A-45FEF0B7BF91}">
                    <File Id="filC7027AEE0D4EDA0361783BA3B662C554" KeyPath="yes" Source="$(var.BasePath)\shaders\textured_billboard_frag.glsl" />
                </Component>
                <Component Id="cmpAB5F7F9B0A60812C3480C26B0236F18A" Guid="{869DAD59-2EBE-45F9-BDA5-1F5CE8F4F131}">
                    <File Id="fil67EC928520B4B0284BA6C528326B9473" KeyPath="yes" Source="$(var.BasePath)\shaders\textured_billboard_vert.glsl" />
                </Component>
            </Directory>
            <Directory Id="dir3967E0CDC830ED12EE5AEDEF49E48286" Name="tr">
                <Component Id="cmpF1E68EC1D275AEB990A117EDBDF98025" Guid="{D5C6CD08-E2FA-4A28-B264-E390F03D2C8F}">
                    <File Id="filF540E8F558E96731A4BD5A6784FCC4B0" KeyPath="yes" Source="$(var.BasePath)\tr\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD8D18BE0CBE3A171A18753A5B5985BB4" Name="zh-Hans">
                <Component Id="cmp95DFA73A42308883D7C58ED75C56B90E" Guid="{9E21CE44-E56F-4917-BAEF-04FEE5AD98C9}">
                    <File Id="fil4599C9F0A37CA5818734A103AA6255D7" KeyPath="yes" Source="$(var.BasePath)\zh-Hans\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir0A56E1DCE96682D4EA5091E415D1089C" Name="zh-Hant">
                <Component Id="cmpFE37423A660289B575510A2221CEA0CD" Guid="{4728882C-3B60-4AB4-A51E-14509AD4066F}">
                    <File Id="fil6B528AFACEEDA2A4F354AF5D3467968E" KeyPath="yes" Source="$(var.BasePath)\zh-Hant\FSharp.Core.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GeneratedComponents">
            <ComponentRef Id="cmpC9C397182586288E806A70D28F13FA95" />
            <ComponentRef Id="cmpA5C9C802E51D6CB59B7849D4E898D0B7" />
            <ComponentRef Id="cmp22A1F16316F6078B3897925D00111D5B" />
            <ComponentRef Id="cmpB3ABA06062313CD012B0F8B0E2A4E62A" />
            <ComponentRef Id="cmp4DBA92D440457ACC43D33A359B988451" />
            <ComponentRef Id="cmp84D88DBC0828D9FD1FD98334B8BD189B" />
            <ComponentRef Id="cmp77E66606433C86FCA22BEE6988343016" />
            <ComponentRef Id="cmp22398BFFF684D79513A368943A26C348" />
            <ComponentRef Id="cmpE998DDB7BF0C45E6BD4881AD3809B18B" />
            <ComponentRef Id="cmpBE9DF01A66595E282E73857268A99F34" />
            <ComponentRef Id="cmpF8161E0352F86042AC2C87BFB76B5F43" />
            <ComponentRef Id="cmpBD25D744A6048756C4C4F61B3741AC7B" />
            <ComponentRef Id="cmpD262BC669D42D87E6A3D275EA8AB073B" />
            <ComponentRef Id="cmp27F419C7E978420ED91A1B0BE00739FB" />
            <ComponentRef Id="cmp7DEDB995B800E4E35F6BFFA1A0E4C82A" />
            <ComponentRef Id="cmp9669060B6F6F3BAD650D65E68A5574A1" />
            <ComponentRef Id="cmp8764FAC5685DA1DE9914CD6AB73B0514" />
            <ComponentRef Id="cmpD43AA934B3FEB1538360E32A4AEE9191" />
            <ComponentRef Id="cmp8FC80FDCA77A84F61E647632F17359BB" />
            <ComponentRef Id="cmp69CAABFAF7C6AE600120757C8CF9EF7A" />
            <ComponentRef Id="cmp69A2F859255511A36D44D61D4282ED89" />
            <ComponentRef Id="cmpBCE34B243036D51A7CC991CF0729850C" />
            <ComponentRef Id="cmp912377D63F31132C3E0D99C97E2048FE" />
            <ComponentRef Id="cmpD4D4FCD7490A4C337BEFC00B19CACE58" />
            <ComponentRef Id="cmp4DC1493C3875F8183E4F0237366086BF" />
            <ComponentRef Id="cmpA4408EF7FC87F4DE11618E731A350103" />
            <ComponentRef Id="cmp1D614362E4FC45D1F34B95164E1B2B16" />
            <ComponentRef Id="cmp2349F5837679A48098E983CCBAAAEA26" />
            <ComponentRef Id="cmp53E60627AD61F310DDB3F6045A877DD6" />
            <ComponentRef Id="cmpAFC1C8A6CCB88F07DE029A281B7041E2" />
            <ComponentRef Id="cmp4816A92E85195C7D52738F9506F60474" />
            <ComponentRef Id="cmp57F084557FACFB11466389CD2FDFE8B0" />
            <ComponentRef Id="cmp2D1E6FDAD8A28BF9105BA9283559275B" />
            <ComponentRef Id="cmp5439E1A916A4F070FFF422474DB54B5A" />
            <ComponentRef Id="cmpC7F9203A1D708F5087E91C20A26715C3" />
            <ComponentRef Id="cmpC8864563EFFEA6340ED9997771B6905C" />
            <ComponentRef Id="cmp9FCFFE34D73F87C1B06D5D7D28D517C3" />
            <ComponentRef Id="cmpD4D89EAB4C68D6E3C8B9ED823863DCD4" />
            <ComponentRef Id="cmp239328308EBCA9C80027F41EE9EBDA46" />
            <ComponentRef Id="cmp7E1EF4C09A48044D003EB3C599D5A8FF" />
            <ComponentRef Id="cmpD8F51AC30518614EE052CF56748044A4" />
            <ComponentRef Id="cmp7544009E0027FE268B5751762D07CF61" />
            <ComponentRef Id="cmpF4012BC6153C4EDADE3969137F88C1B3" />
            <ComponentRef Id="cmp978DD2E349C4E5F2A24029A11D869B00" />
            <ComponentRef Id="cmpC0CF2FC9F65A32FE3F5DEA64C153023A" />
            <ComponentRef Id="cmp10AE1F5C83DB26971EDF23E422E1C72C" />
            <ComponentRef Id="cmpAB5F7F9B0A60812C3480C26B0236F18A" />
            <ComponentRef Id="cmpF1E68EC1D275AEB990A117EDBDF98025" />
            <ComponentRef Id="cmp95DFA73A42308883D7C58ED75C56B90E" />
            <ComponentRef Id="cmpFE37423A660289B575510A2221CEA0CD" />
        </ComponentGroup>
    </Fragment>
</Wix>